@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0b1220;
}

html, body, #__next {
  height: 100%;
}

body {
  background: #f8fafc;
  color: #0f172a;
}

.container {
  @apply mx-auto px-4 max-w-7xl;
}
